.ingredients {
  margin-bottom : 2%;
}

.add-ingredient {
  display         : flex;
  justify-content : center;
}

input.ng-invalid.ng-touched {
  border : 1px solid red;
}

textarea.ng-invalid.ng-touched {
  border : 1px solid red;
}
