<div class="row">

  <div class="col-xs-12">

    <form [formGroup]="form" (ngSubmit)="onSubmit()">

      <div class="row">

        <div class="col-xs-12">

          <button type="submit"
                  class="btn btn-success"
                  [disabled]="!form.valid">
            Save
          </button>

          <button type="button"
                  class="btn btn-danger"
                  (click)="onCancel()">
            Cancel
          </button>

        </div>

      </div>

      <hr>

      <div class="row">

        <div class="col-xs-12">

          <div class="form-group">

            <label for="name">Name</label>
            <input type="text"
                   id="name"
                   class="form-control"
                   formControlName="name">

          </div>

        </div>

      </div>

      <div class="row">

        <div class="col-xs-12">

          <div class="form-group">

            <label for="imagePath">Image URL</label>
            <input type="text"
                   id="imagePath"
                   class="form-control"
                   formControlName="imagePath"
                   #imagePath>

          </div>

        </div>

      </div>

      <div class="row">

        <div class="col-xs-12">

          <img [src]="imagePath.value" class="img-responsive" alt="img">

        </div>

      </div>

      <div class="row">

        <div class="col-xs-12">

          <div class="form-group">

            <label for="description">Description</label>
            <textarea id="description"
                      rows="6"
                      class="form-control"
                      formControlName="description">
              </textarea>

          </div>

        </div>

      </div>

      <div class="row">

        <div class="col-xs-12" formArrayName="ingredients">

          <div class="row ingredients"
               *ngFor="let ingredient of form.get('ingredients').controls;"
               [formGroup]="ingredient">

            <div class="col-xs-8">

              <input type="text"
                     class="form-control"
                     formControlName="name">

            </div>

            <div class="col-xs-2">

              <input type="number"
                     class="form-control"
                     formControlName="amount">

            </div>

            <div class="col-xs-2">

              <button class="btn btn-danger"
                      (click)="onDeleteIngredient(i)">
                X
              </button>

            </div>

          </div>

          <hr>

          <div class="row col-xs-12 add-ingredient">

            <button type="button"
                    class="btn btn-success"
                    (click)="onAddIngredient()">+
            </button>

          </div>

        </div>

      </div>

    </form>

  </div>

</div>
