<div class="row">

  <div class="col-xs-12">

    <img class="img-responsive"
         [alt]="recipe.name"
         [src]="recipe.imagePath"
         style="height: 200px">

  </div>

</div>

<div class="row">

  <div class="col-xs-12">

    <h2>{{recipe.name}}</h2>

  </div>

</div>

<div class="row">

  <div class="col-xs-12">

    <div class="btn-group" appDropdown>

      <button type="button" class="btn btn-primary dropdown-toggle">

        Manage Recipe <span class="caret"></span>

      </button>

      <ul class="dropdown-menu">

        <li>
          <a (click)="onToShoppingList()" style="cursor: pointer">To Shopping List</a>
        </li>

        <li>
          <a style="cursor: pointer" [routerLink]="['../', 'edit', id]">Edit recipe</a>
        </li>

        <li>
          <a style="cursor: pointer" (click)="onDelete()">Delete recipe</a>
        </li>

      </ul>

    </div>

  </div>

</div>

<div class="row">

  <div class="col-xs-12">

    <h3>{{recipe.description}}</h3>

  </div>

</div>

<div class="row">

  <div class="col-xs-12">

    <h3><b>Ingredients:</b></h3>

    <uL class="list-group">
      <li class="list-group-item"
          *ngFor="let ingredient of recipe.ingredients">
        {{ingredient.name}}: {{ingredient.amount}}
      </li>
    </uL>

  </div>

</div>
