<app-header></app-header>

<hr>

<div class="container">

  <div class="row">

    <div class="col-md-12">

      <hr>

      <router-outlet></router-outlet>

      <hr>

    </div>

  </div>

</div>
