<nav class="navbar navbar-default">

  <div class="container-fluid">

    <div class="navbar-header">

      <a routerLink="/" class="navbar-brand">Recipe Book</a>

    </div>

    <div class="collapse navbar-collapse">

      <ul class="nav navbar-nav">

        <li routerLinkActive="active">
          <a routerLink="/recipes">Recipes</a>
        </li>

        <li routerLinkActive="active">
          <a routerLink="/shopping-list">Shopping List</a>
        </li>

      </ul>

      <ul class="nav navbar-nav navbar-right">

        <li *ngIf="!(authState | async).authenticated">
          <a routerLink="/signin">Sign in</a>
        </li>

        <li *ngIf="!(authState | async).authenticated">
          <a routerLink="/signup">Sign up</a>
        </li>

        <li class="dropdown"
            appDropdown
            *ngIf="(authState | async).authenticated">

          <a style="cursor: pointer" class="dropdown-toggle" role="button">
            Menu <span class="caret"></span>
          </a>

          <ul class="dropdown-menu">

            <li>
              <a style="cursor: pointer"
                 (click)="onSave()">Save data</a>
            </li>

            <li>
              <a style="cursor: pointer"
                 (click)="onFetch()">Fetch data</a>
            </li>

          </ul>

        </li>

        <li *ngIf="(authState | async).authenticated">
          <a routerLink="/recipes"
          (click)="signOut()">Sign out</a>
        </li>

      </ul>

    </div>

  </div>

</nav>
