<div class="row">

  <div class="col-xs-12">

    <button class="btn btn-success" (click)="createNewRecipe();">
      New Recipe
    </button>

  </div>

</div>

<hr>

<div class="row">

  <div class="col-xs-12">

    <app-recipe-item *ngFor="let recipe of recipes; let i = index"
                     [recipe]="recipe"
                     [index]="i">
    </app-recipe-item>

  </div>

</div>
