<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offser-1 cool-md-offset-2">
    <form (ngSubmit)="onSignin(form)" #form="ngForm">

      <div class="form-group">

        <label for="email">Mail</label>
        <input type="text" id="email" class="form-control" name="email" ngModel>

        <label for="password">Password</label>
        <input type="text" id="password" class="form-control" name="password" ngModel>

      </div>

      <button type="submit" class="btn btn-primary">Sign in</button>

    </form>
  </div>
</div>
