<div class="row">

  <div class="col-xs-12">

    <form (ngSubmit)="onClickItem()" #form="ngForm">

      <div class="row">

        <div class="col-sm-5 form-group">

          <label for="name">Name</label>
          <input type="text"
                 id="name"
                 class="form-control"
                 name="name"
                 ngModel
                 required>

        </div>

        <div class="col-sm-2 form-group">

          <label for="amount">Amount</label>
          <input type="number"
                 id="amount"
                 class="form-control"
                 name="amount"
                 ngModel
                 required
                 [pattern]="amountPattern"
          >

        </div>

      </div>

      <div class="row">

        <div class="col-xs-12">

          <button type="submit" class="btn btn-success" [disabled]="!form.valid">
            {{ editMode ? 'Edit' : 'Add' }}
          </button>

          <button type="button"
                  class="btn btn-danger"
                  *ngIf="editMode"
                  (click)="onDelete()">
            Delete
          </button>

          <button type="button"
                  class="btn btn-primary"
                  (click)="onClear()">
            Clear
          </button>

        </div>

      </div>

    </form>

  </div>

</div>
